<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title data-message="error-401-title">Unauthorized</title>

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" href="/images/ICTU-LEIDEN.png">
        <link rel="apple-touch-icon" href="/images/ICTU-LEIDEN.png">
    </head>

    <body>
        <nav class="navbar is-link" role="navigation"
        aria-label="main navigation" id="navbar">
        </nav>

        <main role="main">
            <div class="section">
                <div class="container has-text-centered">
                    <h1 class="title" data-message="error-401-header">Page requires authentication</h1>

                    <div class="content">
                        <p data-message="error-401-content">You must provide correct authentication credentials in
    order to access this page. Either you have failed to provide these credentials
    too many times, or your browser does not understand how to securely provide
    these credentials. You may attempt to reload the page to try to provide the
    credentials, or return to the <a href="/" data-message="error-return-link">home page</a>.</p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
