<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title data-message="error-404-title">Not found</title>

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" href="/images/ICTU-LEIDEN.png">
        <link rel="apple-touch-icon" href="/images/ICTU-LEIDEN.png">
    </head>

    <body>
        <nav class="navbar is-link" role="navigation"
        aria-label="main navigation" id="navbar">
        </nav>

        <main role="main">
            <div class="section">
                <div class="container has-text-centered">
                    <h1 class="title" data-message="error-404-header">Page not found</h1>

                    <div class="message is-danger">
                        <div class="message-body" data-message="error-return">Return to the <a href="/" data-message="error-return-link">homepage</a>.</div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
