<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#485fc7">
        <title data-message="error-50x-title">Server error</title>

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" href="/images/ICTU-LEIDEN.png">
        <link rel="apple-touch-icon" href="/images/ICTU-LEIDEN.png">
    </head>

    <body>
        <nav class="navbar is-link" role="navigation"
        aria-label="main navigation" id="navbar">
        </nav>

        <main role="main">
            <div class="section">
                <div class="container">
                    <h1 class="title" data-message="error-50x-header">Internal server error</h1>

                    <div class="message is-danger">
                        <div class="message-body" data-message="error-50x-content">Try again later or return to the <a href="/" data-message="error-return-link">homepage</a>.</div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
