<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#485fc7">
        <title data-message="index-title">Visualizations from GROS</title>

        <link rel="shortcut icon" href="favicon.ico">
        <link rel="icon" href="images/ICTU-LEIDEN.png">
        <link rel="apple-touch-icon" href="images/ICTU-LEIDEN.png">
    </head>

    <body>
        <nav class="navbar is-link" role="navigation"
        aria-label="main navigation" id="navbar">
        </nav>

        <main role="main">
            <div class="section">
                <div class="container">
                    <h1 class="title">{{{message-title}}}</h1>

                    <p class="homepage" data-message="homepage-description">Read an introduction to the research at the <a href="https://gros.liacs.nl" data-message="homepage-link">homepage</a>.</p>

                    <noscript><div class="notification is-danger">{{{javascript-error-message}}}</div></noscript>

{{#anonymized}}
                    <div class="notification is-info is-light">
                        <span class="icon">
                            <i class="fas fa-mask fa-sm"></i>
                        </span>
                        {{{message-anonymized}}}
                    </div>
{{/anonymized}}

                    <div class="links">
                        {{#blog_url}}
                        <a href="{{blog_url}}" class="button is-link is-outlined is-medium">
                            {{{message-blog}}}
                            <span class="icon is-size-7">
                                <i class="fas fa-external-link-alt"></i>
                            </span>
                        </a>
                        {{/blog_url}}
                        {{#discussion_url}}
                        <a href="{{discussion_url}}" class="button is-link is-outlined is-medium">
                            {{{message-discussion}}}
                            <span class="icon is-size-7">
                                <i class="fas fa-external-link-alt"></i>
                            </span>
                        </a>
                        {{/discussion_url}}
                    </div>

                    {{#groups}}
                    <div class="container {{id}}">
                        <h2 class="title is-6">{{{title}}}</h2>

                        <div class="columns is-multiline">
                            {{#items}}{{#index}}
                            <div class="column is-3-desktop is-5-tablet">
                                <div class="card">
                                    <a href="{{show}}" data-language="{{language_parameter}}" aria-labelledby="{{id}}-title">
                                        <header class="card-header">
                                            <span class="card-header-icon">
                                                {{{icon}}}
                                            </span>
                                            <p class="card-header-title" id="{{id}}-title">
                                                {{{title}}}
                                            </p>
                                        </header>
                                    </a>
                                    <div class="card-content">
                                        <div class="content">
                                            {{{content}}}
                                        </div>
                                        <div class="card-overlay-image is-overlay is-clipped">
                                            <div class="image">
                                                <img src="{{base_url}}/screenshots/{{id}}.png" alt="" data-message-title="{{id}}-content">
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="{{show}}" data-language="{{language_parameter}}" class="card-footer-item is-wider">{{{message-visualizations-open}}}</a>
                                        {{#blog_url}}
                                        {{#blog}}
                                        <a href="{{blog_url}}{{fragment}}/" hreflang="{{language}}" class="card-footer-item" data-message-title="visualizations-blog" data-message-aria-label="visualizations-blog">
                                            <span class="icon">
                                                <i class="fas fa-info"></i>
                                            </span>
                                        </a>
                                        {{/blog}}
                                        {{/blog_url}}
                                        {{#download_url}}
                                        <a href="{{download}}" class="card-footer-item is-hidden-mobile" data-message-title="visualizations-download" data-message-aria-label="visualizations-download">
                                            <span class="icon">
                                                <i class="fas fa-download"></i>
                                            </span>
                                        </a>
                                        {{/download_url}}
                                        {{#video}}
                                        <a href="{{alternate}}" class="card-footer-item" hreflang="en" data-video-id="{{id}}" data-video-chapters="{{^chapters}}no{{/chapters}}" data-message-title="visualizations-video" data-message-aria-label="visualizations-video" target="_blank">
                                            <span class="icon">
                                                <i class="fas fa-film"></i>
                                            </span>
                                        </a>
                                        {{/video}}
                                    </footer>
                                </div>
                            </div>
                            {{/index}}{{/items}}
                        </div>
                    </div>
                    {{/groups}}
                </div>
            </div>
        </main>
    </body>
</html>
