# vim: set filetype=yaml :

nginx:
  image: bradjonesllc/nginx-dnsmasq:latest
  hostname: "{{{control_hostname}}}"
  domainname: "{{{control_domain}}}"
  dns: "{{{primary_dns}}}"
  volumes:
    - "../www:/srv/visualization-site/www"
    - "../nginx.conf:/etc/nginx/nginx.conf:ro"
  expose:
    - "2368"
    - "3000"
  links:
    - "jenkins:{{{jenkins_host}}}"
    - "jenkins:{{{blog_host}}}"
    - "jenkins:{{{discussion_host}}}"

runner:
  image: python:3.6-alpine
  domainname: test
  command: "python -c 'import signal;signal.pause()'"
  volumes:
    - "../test:/work"
    - "../{{{config_file}}}:/config.json:ro"
  working_dir: "/work"
  links:
    - "selenium:selenium.test"
    - "coverage:coverage.test"

selenium:
  image: selenium/standalone-chrome:3.11.0
  domainname: test
  shm_size: "2g"
  expose:
    - "4444"
  links:
    - "blog:{{{blog_server}}}"
    - "discourse:{{{discussion_server}}}"
    - "visualization:{{{visualization_server}}}"
    - "prediction:{{{prediction_server}}}"
    - "ws:{{{websocket_server}}}"

coverage:
  image: $DOCKER_REGISTRY/gros-coverage-collector:latest
  domainname: test
  expose:
    - "8888"
  volumes:
    - "../{{{repo_root}}}:$PWD/test/repos"
    - "$PWD:$PWD"

jenkins:
  image: greyarch/caddy
  domainname: "{{{internal_domain}}}"
  expose:
    - "2368"
    - "3000"
    - "8080"
  environment:
      CONFIG: |
          :8080 {
              tls off
              errors stdout
              gzip
              root /srv/www
          }
          :2368 {
              tls off
              errors stdout
              gzip
              root /srv/blog
          }
          :3000 {
              tls off
              errors stdout
              gzip
              root /srv/discussion
          }
  volumes:
    - "../www:/srv/www/job/build-visualization-site/job/master/Visualization"
    {{#visualization_names}}
    - "../{{{repo_root}}}/{{{.}}}/public:/srv/www/job/build-{{{.}}}/job/master/Visualization"
    - "../test/sample/{{{.}}}/data:/srv/www/job/build-{{{.}}}/job/master/Visualization/data"
    {{/visualization_names}}
    - "../test/sample/blog:/srv/blog"
    - "../test/sample/discussion:/srv/discussion"
  links:
    {{#visualization_names}}
    - "{{{.}}}:{{{.}}}.{{{internal_domain}}}"
    {{/visualization_names}}

{{#visualization_names}}
{{{.}}}:
  image: $DOCKER_REGISTRY/gros-{{{.}}}:latest
  domainname: "{{{internal_domain}}}"
  command: "/bin/sh -exc 'rm -rf public/data/ && mkdir -p public/ && cp -r /data public/data/ && rm -rf node_modules && ln -s /usr/src/app/node_modules . && npm run pretest -- --env.mixfile=$PWD/repos/{{{.}}}/webpack.mix.js'"
  user: "{{{user_id}}}:{{{group_id}}}"
  volumes:
    - "../{{{repo_root}}}:$PWD/repos"
    - "../test/sample/{{{.}}}/data:/data"
  working_dir: "$PWD/repos/{{{.}}}"
  expose:
    - "3000"
{{/visualization_names}}

blog:
  domainname: "{{{domain}}}"
  environment:
    - GODEBUG=netdns=cgo
  links:
    - "nginx:{{{control_host}}}"

discourse:
  domainname: "{{{domain}}}"
  environment:
    - GODEBUG=netdns=cgo
  links:
    - "nginx:{{{control_host}}}"

visualization:
  domainname: "{{{domain}}}"
  environment:
    - GODEBUG=netdns=cgo
  links:
    - "nginx:{{{control_host}}}"

prediction:
  domainname: "{{{domain}}}"
  environment:
    - GODEBUG=netdns=cgo
  links:
    - "nginx:{{{control_host}}}"

ws:
  domainname: "{{{domain}}}"
  environment:
    - GODEBUG=netdns=cgo
  links:
    - "nginx:{{{control_host}}}"
