# Configuration for the nginx proxy/server.
# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log {{{error_log}}};
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    include /etc/nginx/conf.d/*.conf;

    resolver 127.0.0.1 valid=30s;

    rewrite_log {{{rewrite_log}}};

    map $http_upgrade $connection_upgrade {
        default upgrade;
        '' close;
    }

    # Deny access to proxies with misconfigured hosts
    server {
        listen       2368 default_server;
        listen       [::]:2368 default_server;
        server_name  "";
        return 444;
    }

    server {
        listen       2368;
        listen       [::]:2368;
        server_name  "{{{blog_server}}}";
        set $blog "{{{blog_host}}}";

        port_in_redirect {{#port}}{{/port}};

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        include nginx/blog.conf;
    }

    server {
        listen       2368;
        listen       [::]:2368;
        server_name  "{{{www_server}}}";
        return 301 "http://{{{visualization_server}}}$request_uri";
    }

    server {
        listen       2368;
        listen       [::]:2368;
        server_name  "{{{visualization_server}}}";
        set $jenkins "{{{jenkins_host}}}";
        root /srv/visualization-site/www;

        port_in_redirect {{#port}}{{/port}};
        charset utf-8;
        source_charset utf-8;

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        include nginx/visualization.conf;
    }

    server {
        listen       2368;
        listen       [::]:2368;
        server_name  {{{discussion_server}}};
        set $discourse "{{{discussion_host}}}";

        port_in_redirect {{#port}}{{/port}};

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        include nginx/discussion.conf;
    }

    server {
        listen       2368;
        listen       [::]:2368;
        server_name  "{{{prediction_server}}}";
        set $jenkins "{{{jenkins_host}}}";
        set $owncloud "{{{files_host}}}";
        root         /srv/visualization-site/www;

        port_in_redirect {{#port}}{{/port}};
        charset utf-8;
        source_charset utf-8;

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        include nginx/prediction.conf;
    }

    server {
        listen       3000;
        listen       [::]:3000;
        server_name  "{{{websocket_server}}}";

        include nginx/websocket.conf;
    }
}
