# vim: set filetype=yaml :

version: '2'

services:
  blog:
    image: caddy:2.6.4-alpine
    volumes:
      - "../caddy/www:/etc/caddy/Caddyfile"

  discourse:
    image: caddy:2.6.4-alpine
    volumes:
      - "../caddy/www:/etc/caddy/Caddyfile"

  www:
    image: caddy:2.6.4-alpine
    volumes:
      - "../caddy/www:/etc/caddy/Caddyfile"

  visualization:
    image: caddy:2.6.4-alpine
    volumes:
      - "../caddy/www:/etc/caddy/Caddyfile"

  prediction:
    image: caddy:2.6.4-alpine
    volumes:
      - "../caddy/www:/etc/caddy/Caddyfile"

  ws:
    image: caddy:2.6.4-alpine
    volumes:
      - "../caddy/ws:/etc/caddy/Caddyfile"
