.homepage {
    margin-bottom: 1.5rem;
    color: #161616;
}

.links .button:not(:last-child) {
    margin-right: 1rem;
}

.links .button svg {
    width: .8em;
    margin-left: .5rem;
    color: #aaa;
}
.links .button:hover svg {
    color: inherit;
}

.container.visualizations, .container.more {
    margin-top: 2rem;
}

/* Keep the cards at the same height */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;

    .card-header-icon {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-weight: normal;
    }
    .card-header-icon + .card-header-title {
        padding-left: 0;
    }
    .card-header-title:hover {
        color: #000000;
        background-color: #fdfdfd;
    }

    .card-content {
        position: relative;
    }
    .card-overlay-image {
        transition: opacity .5s ease;
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }

    .card-footer {
        margin-top: auto;
    }
    .card-footer-item.is-wider {
        flex-grow: 6; /* Default flex grow is 1 */
    }
}
