{{#upstream_server}}blog/{{{blog_host}}}:2368{{/upstream_server}}
{{#upstream_server}}jenkins/{{{jenkins_host}}}:8080{{/upstream_server}}
{{#upstream_server}}discussion/{{{discussion_host}}}:3000{{/upstream_server}}
{{#upstream_server}}owncloud/{{{files_host}}}{{/upstream_server}}
