.links .button:not(:last-child) {
    margin-right: 1rem;
}

.links .button img {
    width: .8em;
    margin-left: .5rem;
}

.container.visualizations, .container.more {
    margin-top: 2rem;
}

/* Keep the cards at the same height */
.card {
    display:flex;
    flex-direction: column;
    height: 100%;
}
.card-footer {
    margin-top: auto;
}

.card-header-title img {
    margin-right: .5rem;
}

.card .card-footer-item.is-wider {
    flex-grow: 6; /* Default flex grow is 1 */
}
